<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.provascarabeo">

    <!-- Permessi necessari -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProvaScarabeo">

        <!-- Attività principale -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Attività per il gioco multiplayer -->
        <activity android:name=".MultiplayerGameActivity" />

        <!-- Attività per le opzioni -->
        <activity android:name=".OptionsActivity" />

        <!-- Attività per le statistiche -->
        <activity android:name=".StatisticsActivity" />

        <!-- Attività per la selezione della difficoltà -->
        <activity android:name=".DifficultySelectionActivity" />

        <!-- Attività per il single player -->
        <activity android:name=".SinglePlayerActivity" />
    </application>

</manifest>